<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange">
    <test name="Orange">
     <parameter name="username" value="shivakumar.mudili@dazn.com" />
        <parameter name="password" value="siva1996@M" />
        <classes>
            <class name="test.cases.LoginAppValidation"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->